.lead__subtitle {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  align-self: center;
  margin: 32px 0 0 0;
  max-width: 640px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 16px 0 16px;
  }
}
